body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* accommodate for the button */
    padding-bottom: 1.5rem;
    background-color: #cfcfcf;
}

h1 {
    text-align: center;
    margin: 20px;
}

.control-bar {
  position: fixed;
  bottom: 0;
  width: 100vw;
}

.control-bar input[type="submit"] {
  display: block;
  font-size: 1.5rem;
  margin-inline: auto;
}

ul {
	padding: 0;
	display: flex;
	flex-wrap: wrap;
    justify-content: flex-start;
}

li {
  padding: 0;
  list-style-type: none;
}

img {
  max-height: 45vh;
  max-width: 45vw;
  object-fit: contain;
}

.pic-num-2 img{
  max-height: 100vh;
  max-width: 45vw;
}
.pic-num-4 img {
  max-height: 45vh;
  max-width: 45vw;
}

label, .li {
	box-sizing: border-box;
	display: block;
}

input[type="checkbox"] {
	display:none;
}

input[type="checkbox"] + label{
	padding: 0.5rem;
}

input[type="checkbox"]:checked + label{
	background-color: #55fc49;
}
