body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* accommodate for the button */
    padding-bottom: 1.5rem;
    background-color: #cfcfcf;
}

h1 {
    text-align: center;
    margin: 20px;
}
p {
	text-align: center;
}

.control-bar {
  position: fixed;
  bottom: 0;
  width: 100vw;
}

.control-bar input[type="submit"] {
  display: block;
  font-size: 1.5rem;
  margin-inline: auto;
}

ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}

img {
    max-width: 200px;
    max-height: 200px;
}


input[type="checkbox"] {
	display:none;
}

input[type="checkbox"] + label{
	display: flex;
	padding: 0.5rem;
	/* background-color: blue; */
}

input[type="checkbox"]:checked + label{
	background-color: #498afc;
}
