<!DOCTYPE html>
<html>
<head>
	<title>PicSort</title>
	<link rel="stylesheet" href="/assets/similar.css">
</head>
<body>
  <h1>{{ .fullPath}}</h1>
  <p>Select similar pictures, next screen will let you delete some of them.</p>
  <p><code>picsort</code> doesn't remove any files, it creates <code>to-delete</code> subfolder and moves the pictures there.</p>
	<form method="get" action="/compare-similar">
	<div class="control-bar">
		<input type="submit" value="Go to next screen"/>
	</div>
	<ul class="image-wrapper">
		{{range .pictures}}
		<li>
          <div class="container" id="{{ . }}-container">
				<input type="checkbox" value="true" name="{{ . }}" id="{{ . }}" />
				<label for="{{ . }}">
					<img loading="lazy" src="/static/{{.}}" alt="{{.}}">
				</label>
			</div>
		</li>
		{{end}}
	</ul>
	</form>
</body>
</html>
