<!DOCTYPE html>
<html>
<head>
	<title>PicSort</title>
	<link rel="stylesheet" href="/assets/similar.css">
</head>
<body>
	<h1>Images</h1>
	<form method="get" action="/compare-similar">
	<div class="control-bar">
		<input type="submit"/>
	</div>
	<ul class="image-wrapper">
		{{range .}}
		<li>
			<div class="container">
				<input type="checkbox" value="true" name="{{ . }}" id="{{ . }}" />
				<label for="{{ . }}">
					<img loading="lazy" src="/static/{{.}}" alt="{{.}}">
				</label>
			</div>
		</li>
		{{end}}
	</ul>
	</form>
</body>
</html>
